@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #a3bcfc !important;
}
.header h1{
    font-weight: 600;
    color: #164caa;
}
.header p{
    font-weight: 400;
    text-align: justify;
    color: #000000;
}
.header button{
    color: #fff;
    font-weight: 600;
    background-color: #fa8525;
    border: none;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
svg.svg-inline--fa.fabars.active{
    border: none;
}
a.navbar-brand{
    color: #164caa;
    font-weight: 600;
    letter-spacing: 5px;
}
a.nav-link{
    color: #164caa;
    font-weight: 600;
}
a.nav-link:hover{
    color: #fff;
    transition: .5s ease-in-out;
}
.navbar-toggler:focus{
    box-shadow: 0px 0px 0px;
}
/* About us */
#About{
    width: 100%;
    background-color: #fff;
}
.aboutcontent h1{
    color: #000000;
    font-weight: 600;
}
.aboutcontent p{
    font-weight: 600;
    text-align: justify;
}
.aboutcontent button{
    padding: 10px 25px 10px 25px;
    background-color: #164caa;
    color: #fff;
    font-weight: 600;
    border: none;
}
.toolsblock{
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px #2b2a2a69;
}
/* Services */
.services h1{
    color: #164caa;
    font-weight: 600;
}
.services p{
    font-weight: 600;
    text-align: justify;
}
.services button{
    padding: 10px 25px 10px 25px;
    background-color: #fa8525;
    color: #fff;
    font-weight: 600;
    border: none;
}
/* our Services */
#ourservices{
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
}
.h1{
    text-align: center;
    color: #000000;
    font-weight: 600;
    padding-top: 25px;
}
/* Feedback */
#feedback{
    width: 100%;
    background-color: #fff;
}
.feedback p{
    font-weight: 600;
    color: #000000;
    text-align: justify;
}
.feedblock{
    box-shadow: 0px 2px 2px #2b2a2a69;
}
.feedbackmembers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
.Lakshmi img{
    border-radius: 50%;
}
.Murugan img{
    border-radius: 50%;
}
.next{
    margin-right: 25px;
    background-color: #164caa;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}
.Previous{
    margin-left: 25px;
    background-color: #164caa;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}
/* form */
#Form{
    width: 100%;
    background-color: #fff;
}
.contactusform{
    display: flex;
    flex-direction: column;
}
.form h1{
    font-weight: 600;
    color: #000000;
}
.contactusform input{
    padding: 10px;
    margin-top: 10px;
}
.contactusform textarea{
    padding: 10px;
    margin-top: 10px;
}
.contactusform button{
    background-color: #164caa;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px;
    margin-top: 10px;
}
.map{
    padding: 10px;
}
/* footer */
#Footer{
    width: 100%;
    background-color: #1f1e1e ;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.copyrights p{
    color: #fff;
    font-size: 12px;
    text-align: center;
}